.list a:hover{
	color: red !important;
}
.list a:focus{
	border-bottom: 3px solid green;

}
li a:hover{
	color: gold !important;
}

.card{
	font-family: times-new-roman;
	font-size: 20px;
}
.site-footer {
  padding: 4em 0;
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer p {
    color: #737373; 
  .site-footer h2, 
    color: #fff; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; 
}
 

input[type=text]:focus {
    border: 2px solid blue;
}